h1{
 text-align: center;
 margin: 150px;
}
.center-content{
    text-align: center;
}
.left-content{
    text-align: left;
}
.right-content{
    text-align: right;
}
.blueu{
    color: aqua;
}
.browns{
    color: brown;
}
.redm{
    color: red;
}
.bluee{
    color: blue;
}
.brownj{
    color: rgb(165, 108, 42);
}
.yellowv{
    color: yellow;
}
.bluevioletm{
    color: blueviolet;
}
.darkbluen{
    color: darkblue;
}
body{
    font-size: 38px;
}